# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
#*~
#Makefile.in
#aclocal.m4
#config.h.in
#autom4te.cache
#config/compile
#config/config.guess
#config/config.sub
#config/depcomp
#config/install-sh
#config/ltmain.sh
#config/missing
#configure
#sipXconfig/top.build.dir
#spy.log
#velocity.log
#bin.eclipse
# exclude files created when building 3rd party deps
#lib/*/build
#lib/cache-file
#lib/dist
#sipXtackLib/src/test/net/SipXauthIdentityTest.cpp
#custom
#sipXconfig/packages/analyzer
#sipXconfig/packages/args
#sipXconfig/packages/browser
#sipXconfig/packages/collection
#sipXconfig/packages/intl
#sipXconfig/packages/logging
#sipXconfig/packages/path
#sipXconfig/packages/unmodifiable_collection
#pubspec.lock
#/sipXyealink/nbproject/private/
#/sipXyealink/build/

*

!/*/*
!/*/*/*
!/*/*/*/*

/**/Makefile.in
/**/config.h.in
/**/configure
/**/aclocal.m4

/**/autom4te.cache/
/**/build/

/*/*/Makefile.in
/*/*/config.h.in
/*/*/*/Makefile.in
/*/*/*/config.h.in

pubspec.lock
/autom4te.cache/

/config/config.guess
/config/config.sub
/config/depcomp
/config/compile
/config/install-sh
/config/ltmain.sh
/config/missing

!/addons/
!build_docker_rpm.sh
!cfengine/
!config/
!configure.ac
!dart-sdk/
!doc/
!epel/
!erlang/
!erlang-cowboy/
!erlang-ej/
!erlang-ejrpc2/
!erlang-gen_server_mock/
!erlang-mimetypes/
!erlmongo/
!extras/
!freeswitch
!freeswitch_edge
!freeswitch-sounds-en-us-callie/
!hiredis/
!homer
!jasperserver/
!libevent2/
!libjsonrpccpp/
!mak/
!meta/
!mongo-cxx-driver/
!mongodb/
!net-snmp/
!nsis/
!nsis-data/
!oacd_dialplan
!oacd_freeswitch
!oacd_web
!openacd
!openfire
!oss_core
!README
!rrdtool/
!ruby-dbi/
!rubygem-file-tail/
!rubygem-net-sftp/
!rubygem-net-ssh/
!rubygem-rake/
!ruby-postgres/
!sipXaastra/
!sipXacccode/
!sipXAocBilling
!sipXaudiocodes/
!sipXbridge/
!sipXcallback/
!sipXcallController/
!sipXcallLib/
!sipXcallQueue
!sipXcdr/
!sipXcdrLog/
!sipXcisco/
!sipXclearone/
!sipXcom/
!sipXcommons/
!sipXcommserverLib/
!sipXconfig/
!sipXcounterpath/
!sipXcustomCallerId
!sipXdashboard/
!sipXdns/
!sipXecs/
!sipXeslLib/
!sipXevent/
!sipXexample/
!sipXgrandstream/
!sipXgtek/
!sipXhitachi/
!sipXhomer
!sipXimbot/
!sipXinterop/
!sipXipdialog/
!sipXisphone/
!sipXivr/
!sipXjitsi/
!sipXlang-abitibi-fr_CA
!sipXlang-ch
!sipXlang-cs
!sipXlang-de
!sipXlang-en_GB
!sipXlang-es
!sipXlang-es_MX
!sipXlang-fr
!sipXlang-fr_CA
!sipXlang-it
!sipXlang-ja
!sipXlang-nl
!sipXlang-pl
!sipXlang-pt/
!sipXlang-pt_BR
!sipXlang-zh
!sipXlg-nortel/
!sipXmediaAdapterLib/
!sipXmediaLib/
!sipXmitel/
!sipXmongo/
!sipXnortel/
!sipxopenacd
!sipXopenfire/
!sipXpage/
!sipXpbx/
!sipXpolycom/
!sipXportLib/
!sipXpostgres/
!sipXpreflight/
!sipXpresence/
!sipXprompts/
!sipXprovision/
!sipXproxy/
!sipXpublisher/
!sipXrecording/
!sipXregistry/
!sipXrelay/
!sipXrelease/
!sipXresiprocate
!sipXrest/
!sipXrls/
!sipXsaa/
!sipXsbc
!sipXsnom/
!sipXsqa/
!sipXstap/
!sipXsupervisor/
!sipXtackLib/
!sipXtcpdumplog/
!sipXtools/
!sipXunidata/
!sipXverify/
!sipXviewer/
!sipXyard/
!sipXyealink/
!sipXzmqLib/
!tools/
