<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity Tests">
  <test name="User Tests">
    <classes>
      <class name="org.sipxcom.verify.features.backup.LocalBackups"/>
    </classes>
  </test> <!-- Test -->
  <test name="Features">
    <classes>

    </classes>
  </test>
</suite> <!-- Suite -->
