<configuration name="shout.conf" description="mod shout config">
  <settings>
    <param name="encode-brate" value="$brate"/>
    <param name="encode-resample" value="$resample"/>
    <param name="encode-quality" value="$quality"/>
  </settings>
</configuration>
