<div class="sticky-wrapper">

  <div class="row profile-bar-chat">
    <div class="col-xs-10">
      <span>CALL HISTORY</span>
    </div>
    <div class="col-xs-2">
      <button class="btn btn-link pull-right"
        data-ng-click="chat.showDefault()"
        data-click-view="false">
        <i class="icon-close"></i>
      </button>
    </div>
  </div><!-- /profile-bar-chat -->

  <div data-resize class="row callhistory-content">

    <div class="col-md-12 start">
      <p>Start:</p>
    </div>

    <div class="col-md-9 input-group">
      <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="callhistory.startTime" is-open="callhistory.isOpenStartDate" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="callhistory.openStartDate()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </div>
    <div class="time-picker">
      <uib-timepicker ng-model="callhistory.startTime" hour-step="1" minute-step="5" show-meridian="false"></uib-timepicker>
    </div>


    <div class="col-md-12 end">
      <p>End:</p>
    </div>
    <div class="col-md-9 input-group">
      <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="callhistory.endTime" is-open="callhistory.isOpenEndDate" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="callhistory.openEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </div>
    <div class="time-picker">
      <uib-timepicker ng-model="callhistory.endTime" hour-step="1" minute-step="5" show-meridian="false"></uib-timepicker>
    </div>


    <div class="col-md-12 callhistory-btn">
      <button type="button" class="btn btn-success"
              data-ng-click="callhistory.apply();">
        Apply
      </button>
    </div>
    <div class="col-md-12 callhistory-select">
      <select name="mySelect"
              ng-options="option.name for option in callhistory.availableOptions track by option.id"
              ng-model="callhistory.selectedOption">
      </select>
      <input data-ng-if="callhistory.selectedOption.id != 1" ng-model="callhistory.number">
    </div>
    <div class="col-md-12 table-responsive">
      <table class="table table-hover table-bordered">
        <thead style="background-color: silver;">
        <tr>
          <th>From</th>
          <th>To</th>
          <!-- <th>Recipient</th>-->
          <th>Start</th>
          <!--<th>Duration</th>
          <th>Status</th>-->
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="call in callhistory.calls|itemsPerPage:10">
          <td>
            {{ call.from }}
          </td>
          <td ng-click="callhistory.clickToCall(call.to);" style="cursor: pointer;">
            {{ call.to }}
          </td>
          <!--<td>
            {{ call.recipient }}
          </td>-->
          <td>
            {{ call.start }}
          </td>
          <!--<td>
            {{ call.duration }}
          </td>
          <td>
            {{ call.status }}
          </td>-->
        </tr>
        </tbody>
      </table>
      <dir-pagination-controls
        max-size="8"
        direction-links="true"
        boundary-links="true">
      </dir-pagination-controls>
    </div>
  </div>
</div>

