  <div class="sticky-wrapper">
  <div class="row profile-bar-chat">
    <div class="col-xs-10">
      <span>{{'MYPROFILE.MY_PROFILE' | translate }}</span>
    </div>
    <div class="col-xs-2">
      <button class="btn btn-link pull-right"
        data-ng-click="chat.showDefault()"
        data-click-view="false">
        <i class="icon-close"></i>
      </button>
    </div>
  </div>
  <div data-resize class="row my-profile">

    <div class="row">
      <div class="col-xs-6">

        <div class="entry clearfix">
          <div class="entry-photo pull-left">
            <img data-ng-src="{{ myprofile.info.profile.avatar }}">
          </div>
          <div class="pull-left">
            <div class="entry-name">
              {{ myprofile.info.profile.firstName + ' ' + myprofile.info.profile.lastName || myprofile.info.profile.imId }}
            </div>
            <div class="entry-loc">
              {{ myprofile.info.profile.location }}
            </div>

            <div ng-controller="UploadFile" class="entry-choose-file">
              <input type="file" nv-file-select uploader="uploader">
            </div>
          </div>
        </div>

      </div>
    </div>

    <form class="form-horizontal col-sm-12" role="form" name="profileForm"
      data-ng-if="myprofile.info.profile">

      <div class="row">

        <div class="col-xs-6">
          <div class="form-groups clearfix">
            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.FIRSTNAME' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.firstName">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.LASTNAME' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.lastName">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.EMAIL_ADDRESS' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.emailAddress">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.AltEMAIL_ADDRESS' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.alternateEmailAddress">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.IM_ID' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.imId">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.AltIM_ID' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.alternateImId">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.ASSIST_NAME' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.assistantName">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.ASSIST_PHONE_NUMBER' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.assistantPhoneNumber">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.CELL_PHONE' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.cellPhoneNumber">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.HOME_PHONE' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.homePhoneNumber">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.FAX_NUMBER' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.faxNumber">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.DID' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.didNumber">
              </div>
            </div>
            <hr>

            <!-- <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'imDisplayName' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.imDisplayName">
              </div>
            </div>
            <hr> -->

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.LOCATION' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.location">
              </div>
            </div>
            <hr>

          </div>
        </div>

        <div class="col-xs-6">
          <div class="form-groups">
            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.COMPANY' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.companyName">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.DEPARTMENT' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.jobDept">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.TITLE' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.jobTitle">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.HOME_ADDR' | translate }}</label>
              <div class="form-group-child col-sm-12">
                <label class="col-sm-4 control-label">{{ 'CONTACTS.HOME_STREET' | translate }}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" data-ng-model="myprofile.info.profile.homeAddress.street">
                </div>
                <hr>
              </div>
              <div class="form-group-child col-sm-12">
                <label class="col-sm-4 control-label">{{ 'CONTACTS.HOME_CITY' | translate }}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" data-ng-model="myprofile.info.profile.homeAddress.city">
                </div>
                <hr>
              </div>
              <div class="form-group-child col-sm-12">
                <label class="col-sm-4 control-label">{{ 'CONTACTS.HOME_STATE' | translate }}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" data-ng-model="myprofile.info.profile.homeAddress.state">
                </div>
                <hr>
              </div>
              <div class="form-group-child col-sm-12">
                <label class="col-sm-4 control-label">{{ 'CONTACTS.HOME_COUNTRY' | translate }}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" data-ng-model="myprofile.info.profile.homeAddress.country">
                </div>
                <hr>
              </div>
              <div class="form-group-child col-sm-12">
                <label class="col-sm-4 control-label">{{ 'CONTACTS.HOME_ZIP' | translate }}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" data-ng-model="myprofile.info.profile.homeAddress.zip">
                </div>
                <hr>
              </div>
            </div>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.FB_NAME' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.facebookName">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.TWITTER_NAME' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.twiterName">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.LINKEDIN_NAME' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.linkedinName">
              </div>
            </div>
            <hr>

            <div class="form-group clearfix">
              <label class="col-sm-4 control-label">{{ 'CONTACTS.XING_NAME' | translate }}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="myprofile.info.profile.xingName">
              </div>
            </div>
            <hr>
          </div>
        </div>

      </div>
      <div class="clearfix">
        <button class="btn btn-default pull-left"
          data-ng-disabled="!profileForm.$dirty && !myprofile.uploadAvatar"
          data-ng-click="myprofile.init(); profileForm.$setPristine();">
          {{ 'GLOBAL.CANCEL' | translate }}
        </button>
        <button class="btn btn-success pull-left"
          data-ng-disabled="!myprofile.uploadAvatar && (!profileForm.$dirty || profileForm.$invalid)"
          data-ng-click="myprofile.save(); profileForm.$setPristine();">
          {{ 'GLOBAL.SAVE' | translate }}
        </button>
        <div class="spinner-wrapper pull-left inline animated fade"
          data-ng-show="myprofile.util.loading">
          <div class="spinner small"></div>
        </div>
        <span data-ng-if="myprofile.util.success" class="label label-success animated fadeOut">{{ 'GLOBAL.SUCCESS' | translate }}</span>
        <span data-ng-if="myprofile.util.warning" class="label label-warning animated fadeOut">{{ 'GLOBAL.WARNING' | translate }}</span>
      </div>
    </form>

    <div class="spinner-wrapper animated fade"
      data-ng-show="!myprofile.info.profile">
      <div class="spinner small"></div>
    </div>

  </div>
  </div>
  <div class="sticky">
    <div class="row bottom-bar">
      <div class="input-group pull-left">
      </div><!-- /input-group -->
    </div>
  </div>
</div>
