<div class="main-left-title-wrapper">
  <i class="icon-presence_meeting"></i>
  <h5 class="main-left-title">{{ 'CONTACTS.CONTACTS_NAME' | translate }}</h5>
</div>
<div>
  <div data-ng-repeat="entry in (filtered = (phonebook.main | orderBy:'name' )) track by $index">
    <div
      data-drag
      data-ng-model="entry"
      data-ng-click="showEntry(entry)"
      data-ng-class="{first: $first}"
      class="entry-container clearfix">
      <div class="entry-photo pull-left">
        <img data-ng-src="{{ entry.avatar }}">
      </div>
      <div class="entry-name pull-left">
        <span class="entry-name-big">{{ entry.name }}</span>
        <span class="entry-loc">{{ entry['contact-information'].location || '-' }}</span>
      </div>
    </div>
  </div>
</div>

<div translate-namespace="CONTACTS"
  class="rooms-modal roster-modal animated fade"
  data-ng-show="muc.conf.modal">
  <div class="clearfix">
    <div class="main-left-title-wrapper">
      <i class="icon-presence_meeting"></i>
      <h5 translate class="main-left-title">.CONTACTS/PROFILE</h5>
    </div>
    <div
      data-ng-click="hideEntry()"
      class="pull-right close-button">
      <i class="icon-close"></i>
    </div>
  </div>
  <div class="rooms-modal-wrapper">
    <div class="roster-modal-mini-profile clearfix">
      <div class="entry-photo pull-left">
        <img data-ng-src="{{ entry.profile.avatar }}">
      </div>
      <div class="entry-name pull-left">
        <span class="entry-name-big">{{ entry.profile.name }}</span>
        <span class="entry-loc">{{ entry.profile['contact-information'].location || '-' }}</span>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-default btn-block"
        data-ng-disabled="!permission.enableContactClickCall"
        data-ng-click="callDialpad(entry.profile.number)">
        <i class="icon-presence_on_the_phone"></i>
        {{ entry.profile.name }} ({{ entry.profile.number }})
      </button>
    </div>
    <div class="roster-modal-vcard wordwrap">

      <div class="form-group clearfix"
        data-ng-show="entry.profile['first-name'].length > 0">
        <label translate class="col-sm-4 control-label">.FIRSTNAME</label>
        <div class="col-sm-8">
          <span>{{entry.profile['first-name'] | linky}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['last-name'].length > 0">
        <label translate class="col-sm-4 control-label">.LASTNAME</label>
        <div class="col-sm-8">
          <span>{{entry.profile['last-name'] | linky}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['emailAddress'].length > 0">
        <label translate class="col-sm-4 control-label">.EMAIL_ADDRESS</label>
        <div class="col-sm-8">
          <span data-ng-bind-html="entry.profile['contact-information']['emailAddress'] | linky"></span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['alternateEmailAddress'].length > 0">
        <label translate class="col-sm-4 control-label">.AltEMAIL_ADDRESS</label>
        <div class="col-sm-8">
          <span data-ng-bind-html="entry.profile['contact-information']['alternateEmailAddress'] | linky"></span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['imId'].length > 0">
        <label translate class="col-sm-4 control-label">.IM_ID</label>
        <div class="col-sm-8">
          <span>{{entry.profile['contact-information']['imId']}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['alternateImId'].length > 0">
        <label translate class="col-sm-4 control-label">.AltIM_ID</label>
        <div class="col-sm-8">
          <span>{{entry.profile['contact-information']['alternateImId']}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['assistantName'].length > 0">
        <label translate class="col-sm-4 control-label">.ASSIST_NAME</label>
        <div class="col-sm-8">
          <span>{{entry.profile['contact-information']['assistantName']}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['assistantPhoneNumber'].length > 0">
        <label translate class="col-sm-4 control-label">.ASSIST_PHONE_NUMBER</label>
        <div class="col-sm-8">
          <span>{{entry.profile['contact-information']['assistantPhoneNumber'] | linky}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['cellPhoneNumber'].length > 0">
        <label translate class="col-sm-4 control-label">.CELL_PHONE</label>
        <div class="col-sm-8">
          <span>{{entry.profile['contact-information']['cellPhoneNumber']}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['homePhoneNumber'].length > 0">
        <label translate class="col-sm-4 control-label">.HOME_PHONE</label>
        <div class="col-sm-8">
          <span>{{entry.profile['contact-information']['homePhoneNumber']}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['faxNumber'].length > 0">
        <label translate class="col-sm-4 control-label">.FAX_NUMBER</label>
        <div class="col-sm-8">
          <span>{{entry.profile['contact-information']['faxNumber']}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['didNumber'].length > 0">
        <label translate class="col-sm-4 control-label">.DID</label>
        <div class="col-sm-8">
          <span>{{entry.profile['contact-information']['didNumber']}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['location'].length > 0">
        <label translate class="col-sm-4 control-label">.LOCATION</label>
        <div class="col-sm-8">
          <span>{{entry.profile['contact-information']['location']}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['companyName'].length > 0">
        <label translate class="col-sm-4 control-label">.COMPANY</label>
        <div class="col-sm-8">
          <span>{{entry.profile['contact-information']['companyName']}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['jobDept'].length > 0">
        <label translate class="col-sm-4 control-label">.DEPARTMENT</label>
        <div class="col-sm-8">
          <span>{{entry.profile['contact-information']['jobDept']}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['jobTitle'].length > 0">
        <label translate class="col-sm-4 control-label">.TITLE</label>
        <div class="col-sm-8">
          <span>{{entry.profile['contact-information']['jobTitle']}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['officeAddress']['street'] ||
        entry.profile['contact-information']['officeAddress']['city'] ||
        entry.profile['contact-information']['officeAddress']['state'] ||
        entry.profile['contact-information']['officeAddress']['country'] ||
        entry.profile['contact-information']['officeAddress']['zip']">
        <label translate class="col-sm-4 control-label">.BUSINESS_ADDR</label>
        <div class="form-group-child col-sm-12 clearfix"
          data-ng-show="entry.profile['contact-information']['officeAddress']['street'].length > 0">
          <div>
            <label translate class="col-sm-4 control-label">.BUSINESS_STREET</label>
            <div class="col-sm-8">
              <span>{{entry.profile['contact-information']['officeAddress']['street']}}</span>
            </div>
          </div>
        </div>
        <div class="form-group-child col-sm-12 clearfix"
          data-ng-show="entry.profile['contact-information']['officeAddress']['city'].length > 0">
          <div>
            <label translate class="col-sm-4 control-label">.BUSINESS_CITY</label>
            <div class="col-sm-8">
              <span>{{entry.profile['contact-information']['officeAddress']['city']}}</span>
            </div>
          </div>
        </div>
        <div class="form-group-child col-sm-12 clearfix"
          data-ng-show="entry.profile['contact-information']['officeAddress']['state'].length > 0">
          <div>
            <label translate class="col-sm-4 control-label">.BUSINESS_STATE</label>
            <div class="col-sm-8">
              <span>{{entry.profile['contact-information']['officeAddress']['state']}}</span>
            </div>
          </div>
        </div>
        <div class="form-group-child col-sm-12 clearfix"
          data-ng-show="entry.profile['contact-information']['officeAddress']['country'].length > 0">
          <div>
            <label translate class="col-sm-4 control-label">.BUSINESS_COUNTRY</label>
            <div class="col-sm-8">
              <span>{{entry.profile['contact-information']['officeAddress']['country']}}</span>
            </div>
          </div>
        </div>
        <div class="form-group-child col-sm-12 clearfix"
          data-ng-show="entry.profile['contact-information']['officeAddress']['zip'].length > 0">
          <div>
            <label translate class="col-sm-4 control-label">.BUSINESS_ZIP</label>
            <div class="col-sm-8">
              <span>{{entry.profile['contact-information']['officeAddress']['zip']}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['homeAddress']['street'] ||
        entry.profile['contact-information']['homeAddress']['city'] ||
        entry.profile['contact-information']['homeAddress']['state'] ||
        entry.profile['contact-information']['homeAddress']['country'] ||
        entry.profile['contact-information']['homeAddress']['zip']">
        <label translate class="col-sm-4 control-label">.HOME_ADDR</label>
        <div class="form-group-child col-sm-12 clearfix"
          data-ng-show="entry.profile['contact-information']['homeAddress']['street'].length > 0">
          <div>
            <label translate class="col-sm-4 control-label">.HOME_STREET</label>
            <div class="col-sm-8">
              <span>{{entry.profile['contact-information']['homeAddress']['street']}}</span>
            </div>
          </div>
        </div>
        <div class="form-group-child col-sm-12 clearfix"
          data-ng-show="entry.profile['contact-information']['homeAddress']['city'].length > 0">
          <div>
            <label translate class="col-sm-4 control-label">.HOME_CITY</label>
            <div class="col-sm-8">
              <span>{{entry.profile['contact-information']['homeAddress']['city']}}</span>
            </div>
          </div>
        </div>
        <div class="form-group-child col-sm-12 clearfix"
          data-ng-show="entry.profile['contact-information']['homeAddress']['state'].length > 0">
          <div>
            <label translate class="col-sm-4 control-label">.HOME_STATE</label>
            <div class="col-sm-8">
              <span>{{entry.profile['contact-information']['homeAddress']['state']}}</span>
            </div>
          </div>
        </div>
        <div class="form-group-child col-sm-12 clearfix"
          data-ng-show="entry.profile['contact-information']['homeAddress']['country'].length > 0">
          <div>
            <label translate class="col-sm-4 control-label">.HOME_COUNTRY</label>
            <div class="col-sm-8">
              <span>{{entry.profile['contact-information']['homeAddress']['country']}}</span>
            </div>
          </div>
        </div>
        <div class="form-group-child col-sm-12 clearfix"
          data-ng-show="entry.profile['contact-information']['homeAddress']['zip'].length > 0">
          <div>
            <label translate class="col-sm-4 control-label">.HOME_ZIP</label>
            <div class="col-sm-8">
              <span>{{entry.profile['contact-information']['homeAddress']['zip']}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['facebookName'].length > 0">
        <label translate class="col-sm-4 control-label">.FB_NAME</label>
        <div class="col-sm-8">
          <span>{{entry.profile['contact-information']['facebookName']}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['twiterName'].length > 0">
        <label translate class="col-sm-4 control-label">.TWITTER_NAME</label>
        <div class="col-sm-8">
          <span>{{entry.profile['contact-information']['twiterName']}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['linkedinName'].length > 0">
        <label translate class="col-sm-4 control-label">.LINKEDIN_NAME</label>
        <div class="col-sm-8">
          <span>{{entry.profile['contact-information']['linkedinName']}}</span>
        </div>
      </div>

      <div class="form-group clearfix"
        data-ng-show="entry.profile['contact-information']['xingName'].length > 0">
        <label translate class="col-sm-4 control-label">.XING_NAME</label>
        <div class="col-sm-8">
          <span>{{entry.profile['contact-information']['xingName']}}</span>
        </div>
      </div>

    </div>
  </div>
</div>


